clipper-backend/SPICE/NAIF/
clipper-backend/SPICE/Clipper/
clipper-backend/SPICE/NaturalBodies/
clipper-backend/node_modules/
clipper-backend/__pycache__/
clipper-backend/.venv/
clipper-backend/venv/
*.pyc
